USE [ZylemMIS_SKF]
GO
/****** Object:  Table [dbo].[MobileAppUserActivationHistory]    Script Date: 4/29/2026 5:03:17 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MobileAppUserActivationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[MobileAppUserActivationHistory]
GO
/****** Object:  Table [dbo].[MobileAppUserActivation]    Script Date: 4/29/2026 5:03:17 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MobileAppUserActivation]') AND type in (N'U'))
DROP TABLE [dbo].[MobileAppUserActivation]
GO
/****** Object:  Table [dbo].[MobileAppUserActivation]    Script Date: 4/29/2026 5:03:17 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MobileAppUserActivation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[IsActiveMobileUser] [bit] NULL,
	[UserLevel] [nvarchar](50) NULL,
	[UserParentId] [nvarchar](100) NULL,
	[CreatedBy] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_MobileAppUserActivation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MobileAppUserActivationHistory]    Script Date: 4/29/2026 5:03:17 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MobileAppUserActivationHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[IsActiveMobileUser] [bit] NULL,
	[UserLevel] [nvarchar](50) NULL,
	[UserParentId] [nvarchar](100) NULL,
	[CreatedBy] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
	[DeletedBy] [varchar](15) NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_MobileAppUserActivationHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MobileAppUserActivation] ON 

INSERT [dbo].[MobileAppUserActivation] ([Id], [UserId], [IsActiveMobileUser], [UserLevel], [UserParentId], [CreatedBy], [CreatedDate]) VALUES (2, 140880, 1, N'Salesman', N'0', N'000000000000001', CAST(N'2026-03-25T15:07:24.940' AS DateTime))
INSERT [dbo].[MobileAppUserActivation] ([Id], [UserId], [IsActiveMobileUser], [UserLevel], [UserParentId], [CreatedBy], [CreatedDate]) VALUES (4, 140881, 1, N'Salesman', N'0', N'000000000000001', CAST(N'2026-03-25T15:22:48.243' AS DateTime))
INSERT [dbo].[MobileAppUserActivation] ([Id], [UserId], [IsActiveMobileUser], [UserLevel], [UserParentId], [CreatedBy], [CreatedDate]) VALUES (5, 140882, 1, N'Salesman', N'0', N'000000000000001', CAST(N'2026-03-25T15:29:20.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[MobileAppUserActivation] OFF
GO
SET IDENTITY_INSERT [dbo].[MobileAppUserActivationHistory] ON 

INSERT [dbo].[MobileAppUserActivationHistory] ([Id], [UserId], [IsActiveMobileUser], [UserLevel], [UserParentId], [CreatedBy], [CreatedDate], [DeletedBy], [DeletedDate]) VALUES (1, 140879, 1, N'Salesman', N'0', N'000000000000001', CAST(N'2026-03-25T15:03:26.520' AS DateTime), N'000000000000001', CAST(N'2026-03-25T15:07:24.937' AS DateTime))
INSERT [dbo].[MobileAppUserActivationHistory] ([Id], [UserId], [IsActiveMobileUser], [UserLevel], [UserParentId], [CreatedBy], [CreatedDate], [DeletedBy], [DeletedDate]) VALUES (2, 140879, 1, N'Salesman', N'0', N'000000000000001', CAST(N'2026-03-25T15:16:03.307' AS DateTime), N'000000000000001', CAST(N'2026-03-25T15:24:56.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[MobileAppUserActivationHistory] OFF
GO
