USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 3/19/2026 8:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Delete User
-- =============================================
ALTER PROCEDURE [dbo].[sp_DeleteUser]
    @Id INT
AS
BEGIN
    DELETE FROM UserMaster WHERE Id = @Id
END
