USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 3/19/2026 8:23:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Get All Users
-- =============================================
ALTER PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN
    SELECT * FROM UserMaster
END
