USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 3/19/2026 8:24:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Get User By Id
-- =============================================
ALTER PROCEDURE [dbo].[sp_GetUserById]
    @Id INT
AS
BEGIN
    SELECT * FROM UserMaster WHERE Id = @Id
END
