USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUser]    Script Date: 3/19/2026 8:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Insert User
-- =============================================
ALTER PROCEDURE [dbo].[sp_InsertUser]
    @LogId VARCHAR(50),
    @Password VARCHAR(50)
AS
BEGIN
    INSERT INTO UserMaster (LogId, Password)
    VALUES (@LogId, @Password)
END
