USE [master]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 3/19/2026 8:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Update User
-- =============================================
ALTER PROCEDURE [dbo].[sp_UpdateUser]
    @Id INT,
    @LogId VARCHAR(50),
    @Password VARCHAR(50)
AS
BEGIN
    UPDATE UserMaster
    SET LogId = @LogId,
        Password = @Password
    WHERE Id = @Id
END
